html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

#menu {
  height: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
}

#menu .item {
  text-decoration: none;
  width: 45%;
  min-height: 10vh;
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  border-radius: 5px;
  align-items: center;
}

#menu .item .label {
  color: black;
  font-size: 10em;
}

#menu .item .description {
  color: black;
  font-size: 6em;
  text-transform: uppercase;
  margin-top: 4px;
}

#menu .item:hover {
  background-color: #eee;
  color: white;
}
