* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

table,
tr,
td,
th {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-collapse: collapse;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.line {
  display: flex;
  gap: 4px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field label {
  font-size: 0.55em;
  text-transform: uppercase;
}

.field input,
select {
  padding: 2px;
  min-width: 100px;
  min-height: 24px;
  font-size: 0.7em;
}

.field input[type="number"] {
  padding: 2px;
  width: 30px;
}

.field input[type="email"] {
  padding: 2px;
  width: 200px;
}

.tools {
  display: flex;
  gap: 4px;
}

.tool_selector {
  display: flex;
  flex-direction: column;
}

.tool_selector span {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  background-color: black;
  color: white;
}

.tool_selector select {
  overflow: hidden;
  min-height: 100px;
}

.hidden {
  display: none !important;
}

.tool_config {
  display: flex;
  flex-direction: column;
}

.res_table {
  border: 1px solid black;
}

.res_table td {
  width: 30px;
  text-align: center;
}

.title {
  background-color: black;
  color: white;
}

.phase {
  background-color: rgb(189, 255, 189);
}

.atten {
  background-color: rgb(255, 255, 205);
}

.ropmem {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.ropmem > div {
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 0.55em;
  background-color: black;
  color: white;
  padding: 1px 3px 1px 3px;
}
