* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#canvas {
  background-color: #eee;
}

#colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

#controls {
  display: flex;
  justify-content: space-between;
  width: 200px;
  gap: 2px;
}

#output {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#json {
  color: #555;
  background-color: a#ddd;
  border: 1px solid #bbb;
  border-radius: 5px;
  height: 70vh;
  overflow-y: hidden;
  display: flex;
  padding: 10px;
  font-size: 10px;
  font-family: monospace;
}

#json:hover {
  overflow-y: scroll;
}

#curve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#curve input {
  width: 55px;
  font-size: 12px;
  text-align: center;
}
#preview {
  background-color: #555;
  width: 100%;
  border-radius: 5px;
  display: flex;
}

.colorswatch {
  width: 100%;
  height: 20px;
}

#export {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield {
  padding: 5px;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
  text-align: center;
}

.textfield:hover {
  border: 2px solid rgb(16, 98, 192);
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
}

.button {
  background-color: rgb(16, 98, 192);
  color: white;
  padding: 5px 10px 5px 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
}

.buttonlarge {
  font-size: 10px;
  padding: 10px;
}

.button:hover {
  background-color: rgb(29, 127, 239);
}

.button:active {
  background-color: rgb(19, 92, 176);
}
